body {
    background-image: url(../assets/farm_background_grass.webp);
    background-color: #cccccc;
    height: 1500px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.navbar {
    background-color: green;
    border-bottom: 2px solid goldenrod;
}

.nav-btn, .add-btn {
    border: .5px;
    border-color: goldenrod;
}

#crop-container, .table {
    border-radius: 10px;
}

.table {
    background-color: goldenrod;
}

td {
    justify-content: center;
}

.container {
    padding-top: 50px;
}

footer {
    background-color: green;
    height: 40px;
    line-height: 40px;
    border-top: 2px solid goldenrod;
}

a:link {
    color: goldenrod;
    }
    a:visited {
    color: goldenrod;
    }
    a:hover {
    color: #ff3300;
    }

audio {
    display:block;
    margin: auto;
}

.nav-link {
    background-color: goldenrod;
    color: white!important;
}

.nav-pills .nav-link.active {
    background-color: green!important;
}

.tab-pane {
    width: 85%;
    margin: auto;
    font-weight: bold;
}

ul {
    margin: auto;
    position: relative;
    top: 20px;
}

li {
    margin: 5px;
}

.card-header {
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

.artist {
    color: white;
    text-align: center;
}

tr {
    text-align: center;
}